# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#intellij stuff
/out/
/.idea/
/out.dat

#excluding generated program because that changes regularly
program.dat
#exlude test.asm which is used for testing purposes and it modified regularly
Test.asm